body {
  /* background-color: black; */
  color: white;
  background-image: url("https://4kwallpapers.com/images/walls/thumbs_3t/11025.jpg");
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
}

/* ------------------------ */
/*--------Home----- */
/* ------------------------ */
.Home-container {
  /* border: #ffff00 1px solid; */
  width: 1200px;
  margin: 0 auto;
  padding: 30px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* flex-direction: column; */
}
/* .hero {
  height: 400px;
  object-fit: cover;
  object-position: 0 15%;
} */

/* .logo-home img {
  width: 118.75rem;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;

  border: 1px white solid;
} */

.home-title {
  color: white;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  /* border: blue 2px solid; */
  margin-bottom: 15px;
  text-shadow: 0 0 20px;
}
.home-title h1:hover {
  color: #e4fde1;
}

.button-direction {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  /* flex-direction: column; */
  margin: 0 auto;
}

.button-direction div > button {
  width: 100px;
  height: 30px;
  background-color: black;
  color: wheat;
  box-shadow: 0 0 20px;
  border-radius: 10px;
  margin-bottom: 25px;
  margin-left: 20px;
}
.button-direction div > button:hover {
  color: white;
}
/* ------------------------ */
/*--------Header pages----- */
/* ------------------------ */

.header-container {
  /* border: goldenrod 1px solid;
  box-shadow: 0 0 10px yellow; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 30px;

  /* width: 87rem; */
}

.Home-logo {
  width: 150px;
}

.input-search {
  padding: 30px;
}
.search {
  width: 600px;
  height: 50px;

  border: none;
  border-radius: 5px;
}

.header-button {
  /* border: 1px blue solid; */
  display: flex;
  margin-top: 15px;
}

.header-button div > button {
  width: 150px;
  height: 40px;
  background-color: black;
  color: wheat;
  box-shadow: 0 0 20px;
  border-radius: 10px;
  margin-bottom: 25px;
  margin-left: 20px;
}
.header-button div > button:hover {
  color: white;
}

/* ------------------------ */
/*--------Comic card----- */
/* ------------------------ */
.container {
  width: 1500px;
  margin: 0 auto;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2.9rem;
}

.comic-card {
  border-radius: 10px;
  border: 1px solid goldenrod;
  width: 300px;
  height: 400px;
  box-shadow: 0 0 10px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-decoration: none;
}

.title-comic {
  /* background-color: salmon; */
  height: 20%;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgb(198, 205, 118);
}

.picture-comic {
  height: 80%;
}

.picture-comic img {
  border-radius: 0 0 10px 10px;
  width: 100%;
  height: 100%;
  border-top: white;
  object-fit: cover;
}

.button-page {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: blueviolet; */
  gap: 10px;
  font-size: 30px;
  height: 30px;
}

/* ------------------------ */
/*--------Characters card----- */
/* ------------------------ */

.name-character {
  /* background-color: lightpink; */
  height: 20%;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.picture-characters {
  height: 80%;
}

.picture-characters img {
  width: 100%;
  height: 100%;
  margin-bottom: 5px;
  border-radius: 0 0 10px 10px;
  /* object-fit: cover; */
}

/* ------------------------ */
/*--------Characters-comics-Id----- */
/* ------------------------ */
/* .container-principal {
  display: flex;
  flex-wrap: wrap;
  border: 4px thistle Solid;
  width: 1400px;
  margin: 0 auto;
  gap: 20px;
}

.container-comicId {
  border: red 1px solid;
  margin: 0 auto;
  width: 350px;
  height: 450px;
}

.card-container {
  width: 300px;
  
  width: 100%;
  height: 100%;
}
.comic-title {
  background-color: aquamarine;
  width: 100%;

  font-size: 20px;
}

.card-container > img {
  width: 500px;
  height: 400px;
} */
